body{
    background-image: linear-gradient(to right, rgb(255, 0, 0) 33%, white 33%, white 66%, green 66%, green 100%);
    box-sizing: border-box;
}


.pizzaOneAndTwo{
    h3{
        font-size: x-large;
        margin-bottom: 50px;
    }
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.compareBtn{
    text-align: center;
}
.results{
    display: flex;
    justify-content: space-around;
}

.hidden{
    display: none;
}