body{
    background-image: linear-gradient(to right, rgb(255, 0, 0) 33%, white 33%, white 66%, green 66%, green 100%);
    box-sizing: border-box;
}


.pizzaOneAndTwo{
    display: flex;
    justify-content: space-around;
}
.compareBtn{
    text-align: center;
}
.results{
    display: flex;
    justify-content: space-around;
}